*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Merienda', sans-serif;
    margin: 0;
    padding: 0;
/* Header section */
}
html
body{
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;  
    visibility: hidden;
}

.menu{
    display: flex;
    justify-content: flex-start;
    padding: 13px 70px;
    margin-right: 40px;
    list-style-type: none;
}
.menu .menu_link{
    color: #ffff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    }
.menu .menu_item{
    padding-right: 28px;
    margin-top: 40px;
}
.menu_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 50px;
    list-style-type: none;
}
.menu_footer .menu_link{
    color: #000;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    padding-right: 28px; 
    }
.menu_footer .menu_item{
    
    margin-top: 40px;
}
.beans_light{
    position: absolute;
    margin-top: 40px;
    padding-left: 35px;
}
.about_coffee{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 58px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 111px;
}
.beans {
    display: block;
    overflow: hidden;
    margin: 21px auto; 
}

.block {
    overflow: hidden;
    text-align: center;
    font-size: 5px;
}
.block span {
    display: inline-block;
    vertical-align: middle;
}
.block:before,
.block:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 2px;
    background-color: white;
    position: relative;
}
.block:before {
    margin-left: -100%;
    left: -14px;
}
.block:after {
    margin-right: -100%;
    right: -14px;
}
.subheader_text{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 35.27px;
}
.subheader_question{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-top: 20px;

}
button{
    display: block;
    width: 120px;
    height: 30px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 27px;
}
/* -------------------------------- */
/* About us setion */
.about_us{
    height: 520px;
}
.about_us_topic{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #000000;
    margin-top: 80px;
}
.beans_dark{
    display: block;
    width: 29.3px;
    height: 29.3px;
    margin: 20px auto;
}
.block_dark {
    overflow: hidden;
    text-align: center;
    font-size: 5px;
}
.block_dark span {
    display: inline-block;
    vertical-align: middle;
}
.block_dark:before,
.block_dark::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 2px;
    background-color: black;
    position: relative;
}
.block_dark:before {
    margin-left: -100%;
    left: -14px;
}
.block_dark::after {
    margin-right: -100%;
    right: -14px;
}
.footer_beans{
    overflow: hidden;
    text-align: center;
    font-size: 5px;
}
.footer_beans span {
    display: inline-block;
    vertical-align: middle;
}
.footer_beans:before,
.footer_beans::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 2px;
    background-color: black;
    position: relative;
}
.footer_beans:before {
    margin-left: -100%;
    left: -14px;
}
.footer_beans::after {
    margin-right: -100%;
    right: -14px;
}

.about_us_text{
    width: 589px;
    height: 223px;
    font-family: Merienda;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin: 40.7px auto;
    text-align: center;
}
/* ------------- */
/* Our best */

.our_best_topic{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #000000;
    padding-top: 80px;
}
.all_cart{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.cart{
    margin-top: 30px;
    width: 230px;
    height: 240px;
    background: rgba(255, 255, 255, 0.65);
    border-radius: 8px;
    margin-right: 71px;
    margin-left: 60px;
}

.coffee{
    display: block;
    margin: 22px auto;
    width: 151px;
    height: 130px;
}
.cart_text{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}
.cart_price{
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
}

footer .menu .menu_link{
    display: block;
    padding-top: 52px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #000000; 
    margin: 0 auto;
    text-decoration: none;
    }
footer .menu{
    display: flex;
    justify-content: center;
    padding: 13px 70px;
    margin-right: 40px;
    list-style-type: none;
}    
footer .beans_dark{
    width: 29.3px;
    height: 29.3px;
}    

/* Our Coffee Page */
/* Footer */


.beans_light{
    position: absolute;
    padding-left: 35px;
}
.our_coffee_topic{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 58px;
    color: #FFFFFF;
    margin-top: 60px;
    text-align: center;
}
.about_our_beans{
    height: 650px;
}
.person{
    width: 272px;
    height: 355px;
    display: block;
    margin: 70px auto;
}
.our_beans{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    margin-top: 80px;
    text-align: center;
}
.our_beans_text{
    display: block;
    width: 346px;
    height: 232px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin: 0 auto;
}
.beans_our_coffee_footer{
    position: absolute;
    padding-left: 360px;
    margin-top: 80px;
}
.seaching{
    height: 300px;
}
.search_form{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 20px;
}
[type=search] {
    outline-offset: -2px;
    text-align: center;
}
.text{
    margin-left: 150px;
    margin-top: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}
/* .button_coffee{
    
} */
.button_coffee:focus {
    outline: none;
}

.button_coffee{
    width: 75px;
    height: 30px;
    margin-right: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #000000;
    background: white;
    margin: -1px auto auto 10px;
    cursor: pointer;
    display: block;
    position: relative;
    border-radius: 20%;
    box-shadow: 1px 0px 36px 0px rgba(0, 0, 0, 0.08);
    border: 2px solid white;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  .button_coffee:hover {
    color: white !important;
    background-color: transparent;
    text-shadow: ntwo;
    border-radius: 20%;
  }
  .button_coffee:hover:before {
    top: 0%;
    bottom: auto;
    height: 100%;
    color: white;
    border-radius: 20%;
  }
  .button_coffee:before {
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 0px;
    width: 100%;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: #000;
    color: white;
    border-radius: 20%;
    transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }




  .more{
    text-decoration: none;
    width: 120px;
    height: 30px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden; 
    color: white;   
    border: 1px solid #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    background: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(136, 136, 136, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    position: relative;

}
.more:focus{
    outline: none;
}

.btn_wrap {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .more::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #ffffff;
    box-shadow: 0 0 60px rgba(255, 255, 255, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .more:hover, .more:focus {
    color: white;
    transform: translateY(-6px);
    outline: none;
    text-decoration: none;
  }
  
  .more:hover::before, .more:focus::before {
    opacity: 1;
    outline: none;
    text-decoration: none;
    
  }
  
  .more::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #ffffff;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
    text-decoration: none;
  }
  
  .more:hover::after, .more:focus::after {
    animation: none;
    display: none;
    text-decoration: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }

.cart_of_coffee{
    width: 220px;
    height: 260px;
    box-shadow: 20px 10px 5px #ebdcc9;
    border-radius: 8px;
    margin-top: 60px;
    margin-right: 20px;
}
/*  */
.coffee_name{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-top: 14px;
}
.country{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin-top: 14px;
    margin-right: 25px;
    text-align: end;
}
.price{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin-top: 14px;
    margin-left: 155px;
}
.coffee_picture{
    max-width: 167px;
    height: 115px;
    display: block;
    margin: 37px auto 0px;
}
.cart_of_coffee_all{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: auto;
        max-width: 850px;
}
.cart_of_coffee_pleasure{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
    max-width: 850px;
    
}
.beans_lightt{
    position: absolute;
    margin-left: 380px;
    margin-top: 40px;
}

/* ----------- */
/* About IT */

.coffee_section {
    width: 439px;
    height: 339px;
    display: block;
    margin: 70px auto;
}
.description{
    margin-bottom: 15px;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    width: 418px;
    height: 81px;
}
.coffee_price{

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin-top: 25px;
}
.price_of_coffee{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}
.price_span{
    font-size: 150%;
    font-weight: 100;
    color: #000000; 
}
.about_it_footer{
    margin-top: 82px;
}

.pleasure_topic{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 58px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 60px;
}
.about_our_pleasure{
    height: 650px;
}
.coffee_pleasure{
    width: 272px;
    height: 355px;
    display: block;
    margin: 70px auto;
}
.pleasure_text{
    display: block;
    width: 346px;
    height: 232px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin: 0 auto;
}
.pleasure_footer .beans_lightt{
    position: absolute;
    margin-left: 380px;
    margin-top: 40px;
} 
.pleasure_footer{
    position: relative;
    height: 180px;
}
/*  */
/*  */

.tell_section{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
    text-align: center;
    margin-top: 60px;
}
.contact-form {
    width: 30%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
input[type=number]
{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.49);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    margin-top: 27px;

}

textarea {
    width: 350px;
    height: 120px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.49);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    display: block;
    margin: 30px auto;
}
*:focus {outline: none;}

label{
    margin-top: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
}
.message{
    text-align: center;
    margin-top: 30px;
}
.send_us{
    display: block;
    width: 120px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.49);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
}


.send_us:hover{
    background: #000;
    color: whitesmoke;
    transition: all 0.75s ease 0s;
}


.looking_for{
    text-align: center;
}
.hide {
    display: none;
}
.overlay {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0,0,0,0.3);
}
h1 {
    color: #eee;
    margin-bottom: 30px;
}


#coffeeList {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}



#searchBar {
    width: 100%;
    margin-left: 15px;
    height: 32px;
    border-radius: 3px;
    border: 1px solid black;
    padding: 5px 10px;
    font-size: 12px;
}

#searchWrapper {
    position: relative;
}

#searchWrapper::after {
    content: '';
    position: absolute;
    top: 7px;
    right: 15px;
}
.devider_line{
    display: block;
    margin: 0 auto;
    color: black;
    height: 0px;
    width: 240px;
    border: 1px solid #000000;
    margin-top: 73px;
}

.about_it_footer_beans{
    position: absolute;
    padding-left: 413px;
    margin-top: 18px;
}
.Searching{
    margin-top: 65px;
}
.search_content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.filter_content{
    display: flex;
    flex-wrap: wrap;

}

footer .container{
    position: relative;
}
.beans_light_footer{
    position: absolute;
    padding-left: 310px;
    margin-top: 18px;
    
}
.mobile-nav-icon {
	float: right;
	margin-top: 30px;
	cursor: pointer;
	display: none;
}

.mobile-nav-icon i{
	font-size: 2em;
	color: #fff;
}
.cart_of_coffee_the_second{
    display: block;
    width: 220px;
    height: 260px;
    box-shadow: 30px 15px 5px #faebd7;
    border-radius: 8px;
    margin-top: 60px;
}
.hamburger-menu{
    display: none;
}
.card_pleasure {
   
    
    margin-top: 55px;
    width: 230px;
    height: 240px;
    background: rgba(255, 255, 255, 0.65);
    border-radius: 8px;
    box-shadow: 8px 1px 8px 14px rgb(199 168 95 / 26%);
    cursor: pointer;
}

@media screen and (max-width : 1349px) {
    .beans_our_coffee_footer {
        position: absolute;
        padding-left: 295px;
        margin-top: 80px;
    }
}
@media screen and (max-width:1250px) {
    input[type=text], input[type=email], input[type=number], select {
        width: 200px;
        display: block;
        margin: 10px auto;
    }
    label {
        margin-top: 30px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        color: #000000;
        text-align: center;
        display: block;
    }
    
}

@media only screen and (max-width: 1199px){
    .beans_light_footer{
        position: absolute;
        padding-left: 220px;
        margin-top: 20px;
    }
    .coffee_section {
        width: 400px;
        height: 315px;
        display: block;
        margin: 70px auto;
    }
}
@media only screen and (max-width: 1082px){
    .beans_light_footer{
        position: absolute;
        margin-top: 25px;
        margin-left: -2px;
    }
    .our_best{
        height: 700px;
    }
    // input[type=text], input[type=email], .input[type=number], select {
    //     width: 200px;
    //     padding: 7px;
    //     border-radius: 3px;
    //     background: #FFFFFF;
    //     border: 1px solid rgba(0, 0, 0, 0.49);
    //     box-shadow: 4px 4px 20px rgb(0 0 0 / 25%);
    //     margin-top: 27px;
    // }
}
@media  only screen and (max-width: 992px) {
        .beans_light_footer{
            position: absolute;
            margin-left: -5px;
            margin-top: 20px;

        }
        
        
    }
@media  only screen and (max-width: 991px) {
    .beans_light_footer{
        position: absolute;
        margin-left: -120px;
        margin-top: 20px;

    }
    .col_about_it{
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .search_content {
        display: block;
    }
    .coffee_price {
        text-align: center;
    }
    p{
        text-align: center;
    }
    .description {
        margin-bottom: 15px;
        font-style: normal;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        width: 549px;
        height: 73px;
        text-align: center;
        display: block;
        margin: 0 auto;
    }
    [type=search] {
        outline-offset: -5px;
        text-align: center;
    }
    #searchBar {
        width: 300px;
        margin-top: 35px;
    }
    .text {
        display: block;
        margin: 50px auto 0px auto;
    }
    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;;
    }
    .button_coffee {
        width: 75px;
        height: 30px;
        margin-top: 35px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 17px;
        color: #000000;
        border: none;
        cursor: pointer;
        margin-right: 10px;
    }
}




.header_burger{
    display: none;
}
 @media screen and (max-width: 768px) {
    .about_us_text{
        width: 500px;

    }
    .cart_text{
        font-size: 13px;
    }
    .cart_price{
        font-size: 15px;
    }
    .about_coffee{
        font-size: 28px;
    }
    .subheader_text{
        font-size: 21px;
    }
    .subheader_question{
        font-size: 21px;
    }
    .cart_of_coffee {
        margin-right: 11px;
    }
@media screen and (max-width: 767px) {

    .menu .menu_link {
        color: #ffff;
        font-style: normal;
        font-weight: normal;
        line-height: 20px;
        text-decoration: none;
    }
    .menu_footer .menu_link {
        color: #000;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        text-decoration: none;
        padding-right: 21px;
    }
    .about_coffee {
        font-size: 24px;
    }
    .menu_footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-left: 40px;
        list-style-type: none;
    }
    .beans_light_footer {
        
        position: absolute;
        margin-left: -200px;
        margin-top: 61px;
    }
    .about_our_beans {
        height: 900px;
    }
    .person {
        display: block;
        margin: 30px auto;
    }
    .our_beans{
        margin-top: 30px;
    }
    .about_our_pleasure {
        height: 900px;
    }
    .cart_of_coffee {
        margin-top: 100px;
    }
    
    /* Menu Burger */

    #menu__toggle {
        opacity: 0;
      }
      /* стилизуем кнопку */
      .menu__btn {
        display: flex; /* используем flex для центрирования содержимого */
        align-items: center;  /* центрируем содержимое кнопки */
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 3;
      }
      /* добавляем "гамбургер" */
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: white;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 184px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        background-color: #2F4F4F;
        z-index: 2;

      }
      /* элементы меню */
      .menu__item {
        display: block;
        padding: 12px 24px;
        color: rgb(255, 255, 255);
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
      }
      .menu__item:hover {
        background-color: #CFD8DC;
      }
      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
      }
      .header_menu{
          display: none;
      }
      .hamburger-menu{
          display: block;
      }
      a {
        color: white;
        text-decoration: none;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
        margin-top: 50px;
      }
      .menu__box .menu_item{
        margin-top: 20px;
    }
    .menu_link:focus {
        outline: none;
    }
    .menu_link{
        text-decoration: none;
    }
    .about_it_footer .footer_menu{
        display: none;
    }


}
@media screen and (max-width: 721px) {
    .our_best{
        height: 1000px;
    }   
    .about_coffee{
        font-size: 35px;
    }

    .cart_of_coffee_pleasure {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
        max-width: 850px;
        margin-left: 20px;
        margin-top: 40px;
    }
    .about_our_pleasure {
        height: 1000px;
    }
    .about_our_beans {
        height: 1000px;
    }
    .our_beans{
        margin-top: 40px;
    }
    .person {
        width: auto;
        height: auto;
        display: block;
        margin: 70px auto;
    }

}
@media screen and (max-width: 630px) {
    .cart_of_coffee_all {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 450px;
        margin-right: 57px;
    }
    .cart_of_coffee_the_second{
        width: 220px;
        height: 260px;
        box-shadow: 30px 15px 5px #faebd7;
        border-radius: 8px;
        margin-top: 60px;
        margin-left: 15px;
    }
    .about_coffee {
        font-size: 28px;
    }
    .about_us_text {
        width: 400px;
    }
    .about_us {
        height: 570px;
    }
    .description {
        margin-bottom: 15px;
        font-style: normal;
        font-size: 13px;
        line-height: 19px;
        color: #000000;
        width: 493px;
        height: 73px;
        text-align: center;
        display: block;
        margin: 0 auto;
    }
    .feedback_message {
        font-style: normal;
        font-weight: normal;
        font-size: 27px;
        line-height: 52px;
        text-align: center;
        color: #000000;
        margin-top: 128px;
    }
    
}
@media screen and (max-width: 539px){
.menu_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 35px;
    list-style-type: none;
    }
    .coffee_section {
        width: 300px;
        height: 300px;
        display: block;
        margin: 70px auto;
    }
    .description {
        margin-bottom: 15px;
        font-style: normal;
        font-size: 13px;
        line-height: 19px;
        color: #000000;
        width: 390px;
        /* height: 73px; */
        text-align: center;
        display: block;
        margin: 0 auto;
    }
}
@media screen and (max-width: 534px){
    .menu_footer {
        display: none;
    }
    .beans_light_footer{
        display: none;
    }
    .footer_beans {
        overflow: hidden;
        text-align: center;
        font-size: 5px;
        margin-top: 30px;
    }
@media screen and (max-width: 515px){
    .about_coffee {
        font-size: 21px;
    }
    .subheader_text {
        font-size: 18px;
    }
    .subheader_question {
        font-size: 18px;
    }
    .cart_of_coffee_pleasure{
        margin-top: 0;
    }
    .contact-form {
        width: 50%;
        margin: 0 auto;
    }
    
} 
@media screen and (max-width: 420px){
    .subheader_text {
        font-size: 15px;
    }
    .subheader_question {
        font-size: 15px;
    }
    .about_us_text {
        width: 300px;
        font-size: small;
        font-weight: 500;
        margin: 10px auto;
    }
    .about_us {
        height: 600px;
    }
    textarea {
        width: 250px;
    }
}
@media screen and (max-width: 370px){
    .about_coffee {
        font-size: 16px;
    }
    .subheader_text {
        font-size: 14px;
    }
    .subheader_question {
        font-size: 14px;
    }
    #searchBar {
        width: 250px;
        margin-top: 35px;
    }
    .description {
        margin-bottom: 15px;
        font-style: normal;
        font-size: 13px;
        line-height: 19px;
        color: #000000;
        width: 339px;
        /* height: 73px; */
        text-align: center;
        display: block;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .feedback_message {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 52px;
        text-align: center;
        color: #000000;
        margin-top: 128px;
    }
}
@media screen and (max-width: 320px){
    .about_us_text {
        width: 300px;
        font-size: x-small;
        font-weight: 500;
        margin: 10px auto;
    }
    .about_us {
        height: 500px;
    }
    .subheader_text {
        font-size: 12px;
    }
    .person {
        width: 272px;
        height: 355px;
        display: block;
        margin: 70px auto;
    }
    .our_beans_text {
        display: block;
        width: 300px;
        height: 232px;
        font-style: normal;
        font-weight: normal;
        font-size: small;
        line-height: 20px;
        text-align: center;
        color: #000000;
        margin: 0 auto;
    }
    .cart_of_coffee_all {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 450px;
        margin-right: 47px;
    }
}
 }
}
