
.pleasure_header{
    position: relative;
    background: url("./for_your_pleasure/for_your_pleasure_main.png") center center/cover no-repeat;
    height: 300px;
}
.card_pleasure{
    margin-top: 55px;
    width: 230px;
    height: 240px;
    background: rgba(255, 255, 255, 0.65);
    border-radius: 8px;
    box-shadow: 8px 1px 8px 14px rgba(199, 168, 95, 0.26);
    cursor: pointer;
}